<h2> Applied Data Science Capstone Assignment 2 :Segmenting and Clustering Neighborhoods in Toronto - Part 1 </h2>

<h4>We will use this noebook to scrape the Wikipedia Web page that has the data about the postal codes for various neighborhoods and boroughs in Canada</h4>

In [1]:
# Importing Pandas
import pandas as pd

<h4>We will use the read_html method of pandas which automatically detects the tables on a web page and returns a list with all the dataframes available on that web page</h4>

In [2]:
# Reading the data frame into a variable
d = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

<h4>We see that the method fetched us 3 dataframes and the one of our interest is the first element in the list d</h4>

In [3]:
# Checking the type of the output variable after applying read_html
print(len(d))
print(type(d[0]))

3
<class 'pandas.core.frame.DataFrame'>

In [4]:
#Using the first element of this list to be the data frame that we want
df_Canada = d[0]

<h4>Examining the Data frame tells us that there are 287 records</h4>

In [5]:
df_Canada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 3 columns):
Postcode         287 non-null object
Borough          287 non-null object
Neighbourhood    287 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

In [6]:
# Inspecting the first five rows of the data frame
df_Canada.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

<h4>Setting the column names of the data frame</h4>

In [7]:
df_Canada.columns = ['PostalCode', 'Borough', 'Neighborhood']

In [8]:
# Considering only the records where there is a valid Borough value
df_Canada = df_Canada[df_Canada.Borough != 'Not assigned']

In [9]:
df_Canada.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

<h4>Here we check if there is any record with invalid Neighborhood value. And we find that there are no such records</h4>

In [10]:
# there is no Neighborhood which has a value 'Not assigned'
df_Canada[df_Canada.Neighborhood == 'Not assigned'].head()

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [11]:
df_Canada = df_Canada.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()

<h4>After cleaning the dataset by combining the records with repeated Postal Code values, we get a data frame with 103 observations</h4>

In [12]:
df_Canada.shape

(103, 3)

<h2> Applied Data Science Capstone Assignment 2 :Segmenting and Clustering Neighborhoods in Toronto - Part 2 </h2>

In [13]:
df_location = pd.read_csv('https://cocl.us/Geospatial_data')

In [14]:
df_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
Postal Code    103 non-null object
Latitude       103 non-null float64
Longitude      103 non-null float64
dtypes: float64(2), object(1)
memory usage: 2.5+ KB

In [15]:
df_Canada = pd.merge(df_Canada, df_location, left_on='PostalCode', right_on='Postal Code').drop('Postal Code', axis = 1)

<h4>Here we employ the merge method of pandas to get the Latitude and Longitude values using the dataset at https://cocl.us/Geospatial_data</h4>

In [16]:
df_Canada.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476